<h2>{{ 'adminPanel.title' | transloco }}</h2>
<div class="tab-panel container">
    <tabset class="member-tabset">
        <tab [heading]="('adminPanel.userManagement' | transloco)" *appHasRole="['Admin']">
            <div class="container-fluid">
                <app-user-management></app-user-management>
            </div>
        </tab>
        <tab [heading]="('adminPanel.photoManagement' | transloco)" *appHasRole="['Admin', 'Moderator']">
            <div class="container-fluid">
                <app-photo-management></app-photo-management>
            </div>
        </tab>
    </tabset>
</div>
