<div class="row">
  <div class="tab-panel">
    <tabset class="member-tabset">
      <div class="container">
        <div class="flex-row">
          <div class="col-12">
            <div class="container">
              <div class="flex-row">
                <app-common-table
                  [serviceApiUrl]="serviceApiUrl()"
                  [columnsInput]="columns"
                  [dataSourceInput]="dataSource()"
                  [navigateUrlBase]="'/bike'"
                  [navigateUrlProperty]="'bikeId'"
                  [isRowClickable]="true">
                </app-common-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tabset>
  </div>
</div>
