<h4>{{ 'errors.serverError.title' | transloco }}</h4>
@if (error) {
    <ng-container>
        <h5 class="text-danger">{{ 'errors.serverError.errorLabel' | transloco }} {{error.message}}</h5>
        <p class="font-weight-bold">{{ 'errors.serverError.note' | transloco }}</p>
        <p>{{ 'errors.serverError.whatToDo' | transloco }}</p>
        <ol>
            <li>{{ 'errors.serverError.step1' | transloco }}</li>
            <li>{{ 'errors.serverError.step2' | transloco }}</li>
            <li>{{ 'errors.serverError.step3' | transloco }}</li>
        </ol>
        <p style="font-weight: bold">{{ 'errors.serverError.stackTrace' | transloco }}</p>
        <code class="mt-5" style="background-color: whitesmoke;">
            {{error.details}}
        </code>
    </ng-container>
}

