<div class="mb-3">
    <input
        type={{type()}}
        [class.is-invalid]="control.touched && control.invalid"
        class="form-control"
        [formControl]="control"
    placeholder="{{ 'textInput.label' | transloco }}"
    >
    @if (control.errors?.['required']) {
        <div class="invalid-feedback">
            {{ 'textInput.required' | transloco }}
        </div>
    }
    @if (control.errors?.['minlength']) {
        <div class="invalid-feedback">
            {{ 'textInput.minlength' | transloco: { requiredLength: control.errors?.['minlength'].requiredLength } }}
        </div>
    }
    @if (control.errors?.['maxlength']) {
        <div class="invalid-feedback">
            {{ 'textInput.maxlength' | transloco: { requiredLength: control.errors?.['maxlength'].requiredLength } }}
        </div>
    }
    @if (control.errors?.['notMatching']) {
        <div class="invalid-feedback">
            {{ 'textInput.notMatching' | transloco }}
        </div>
    }

</div>