@if (user().roles.includes('Admin')) {
<div class="row">
  <div class="d-flex justify-content-end mb-2 w-100">
    <button mat-fab extended (click)="openDialogEdit()">
        <mat-icon>add</mat-icon> Add New
    </button>
  </div>

  <table mat-table [dataSource]="tableData" class="mat-elevation-z8 demo-table">

        @for (column of columns(); track column) {
          <ng-container [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef>
              {{ column.header }}
            </th>
            <td mat-cell *matCellDef="let row" [ngSwitch]="column.isCustomRender">
              <ng-container *ngSwitchCase="true">
                <ng-container [ngSwitch]="column.columnDef">
                  <img
                    *ngSwitchCase="'photoUrl'"
                    class="crud-table__thumb"
                    [src]="row?.photoUrl"
                    alt="photo"
                    (error)="onImageError($event)" />
                </ng-container>
              </ng-container>
              <span *ngSwitchDefault>
                {{ column.cell ? column.cell(row) : (row[column.columnDef] ?? '') }}
              </span>
            </td>
          </ng-container>
        }

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="openDialogEdit(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openDialogDelete(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand;"></tr>
      </table>
        <mat-paginator
          class="modern-mat-paginator mt-3"
          [length]="dataSource().length"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5,10,20,50]"
          [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
}
